---
http_interactions:
- request:
    method: get
    uri: https://api.pwnedpasswords.com/range/82FE7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Etag:
      - '"0x8DECC6DB57C4D72"'
      Last-Modified:
      - Wed, 17 Jun 2026 12:41:10 GMT
      Arr-Disable-Session-Affinity:
      - 'True'
    body:
      encoding: UTF-8
      string: "000CC803CCAB32527543BAA36D28EBD4BC9:16\r\n0010B9E11A7582E6459A9B47EB46E930DF6:3\r\n0048BE0C584632F2FEEF7CA5F4DA51F1B3C:1\r\n007FDCF00BE945A1B5FB79B38EB2B08F839:4\r\n00B4DD000B1A1F9F89918D2EECE91B4823D:4\r\n00D66D23CB31618735DA05ED3891FCBD015:2\r\n00DC500CE83414EFD0A609762441024E5EB:55\r\n00F1D3961D20607EE8A0A2BA6F541591135:28\r\n00F3D5E2371151627A34F6DE76C6F9DC477:1\r\n012F5C1D86CB95AAAF9D6B18A8083440D4C:199\r\n0168941B11E5ED0F71A0D1[...]
- request:
    method: get
    uri: https://example.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Wed, 17 Jun 2026 20:54:39 GMT
      Allow:
      - GET, HEAD
    body:
      encoding: ASCII-8BIT
      string: '<!doctype html><html lang="en"><head><title>Example Domain</title><link
        rel="icon" href="data:,"><meta name="viewport" content="width=device-width,
        initial-scale=1"><style>body{background:#eee;width:60vw;margin:15vh auto;font-family:system-ui,sans-serif}h1{font-size:1.5em}div{opacity:0.8}a:link,a:visited{color:#348}</style></head><body><div><h1>Example
        Domain</h1><p>This domain is for use in documentation examples without needing
        permission. Avoid use in operations.</p><p><a href="https://iana.org/domains/example">Learn
        more</a></p></div></body></html>

        '
  recorded_at: Thu, 18 Jun 2026 23:35:08 GMT
recorded_with: VCR 6.4.0
