<div id="<%= dom_id stage %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= stage.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= stage.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Color:</strong>
    <%= stage.color %>
  </div>
</div>
